  <style>
    table{
      border-collapse: separate;
      border-spacing:10px
    }
    th,td{
      padding: 20px;
      text-align: left;
     
    }
  </style>
  
  <tr>
    <td><%= movie.title %></td>
    <td><%= movie.rating %></td>
    <td><%= movie.release_date %></td>
    <td><%= link_to "Show this movie", movie %></td>
  </tr>
    


