<% content_for :title, "Editing movie" %>

<h1 style="text-align: center;">Editing movie</h1>

<%= render "form", movie: @movie %>

<br>
<body style="background-color: #FFFFC5;">
  <div style="text-align: center;">
    <%= link_to "Show this movie", @movie %> |
    <%= link_to "Back to movies", movies_path(sort: @sort_column, direction: @sort_direction) %>
  </div>
</body>